.dashboard{
    position:relative;
    width: 100%;
    overflow-x: hidden;
}
/*Dashboard Side Navigation*/
.dashboard .row .left-container{
    background-color: rgba(90, 253, 139, 0.603);
    height: 100vh;
}
.dashboard .row .left-container img{
    max-width: 200px; 
    display: flex;
    justify-content:center;
    text-align: center;
    margin: auto;
    margin-left: 60px;
    align-items: center;
}
.dashboard .row .left-container ul{
    margin-top: 24px;
    
}
.dashboard .row .left-container ul li{
    margin-top: 12px;
    list-style: none;
}
.dashboard .row .left-container ul li a{
    background-color: rgb(10, 34, 15); 
    width: 250px; 
    height: 40px;
    border: none;
    display: block;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    color: white;
    margin: auto;
}