<div class="card">
    <h2 class="main">Add New Product</h2>
    <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
        <input type="hidden" name="_id" #_id='ngModel' [(ngModel)]="productservice.selectedProducts._id">
        <div class="row">
            <div class="input-feild col-sm-12">
                <label>Product Name:
                    <label class="red-text">*</label>
                </label>
                <input type="text" name="productname" #productname='ngModel'
                    [(ngModel)]="productservice.selectedProducts.productname" placeholder="enter productname" required>
            </div>
        </div>
        <div class="row">
            <div class="input-feild col-sm-12">
                <label>Brand Name:
                    <label class="red-text">*</label>
                </label>
                <input type="text" name="brand" #brand='ngModel' [(ngModel)]="productservice.selectedProducts.brand"
                    placeholder="enter brand name" required>

            </div>
        </div>
        <div class="row">
            <div class="input-feild col-sm-12">
                <label>Category:
                    <label class="red-text">*</label>
                </label>
                <input type="text" name="category" #category='ngModel'
                    [(ngModel)]="productservice.selectedProducts.category" placeholder="enter category" required>

            </div>
        </div>
        <div class="row">
            <div class="input-feild col-sm-12">
                <label>Material:
                    <label class="red-text">*</label>
                </label>
                <input type="text" name="meterial" #meterial='ngModel'
                    [(ngModel)]="productservice.selectedProducts.meterial" placeholder="enter material" required>

            </div>
        </div>
        <div class="row">
            <div class="input-feild col-sm-12">
                <label>Care:
                    <label class="red-text">*</label>
                </label>
                <input type="text" name="care" #care='ngModel' [(ngModel)]="productservice.selectedProducts.care"
                    placeholder="enter care mathod" required>

            </div>
        </div>
        <div class="row">
            <div class="input-feild col-sm-12">
                <label>Color:
                    <label class="red-text">*</label>
                </label>
                <input type="text" name="color" #color='ngModel' [(ngModel)]="productservice.selectedProducts.color"
                    placeholder="enter color" required>

            </div>
        </div>
        <div class="row">
            <div class="input-feild col-sm-6">
                <label>Size:
                    <label class="red-text">*</label>
                </label>
                <input type="number" name="size" #size='ngModel' [(ngModel)]="productservice.selectedProducts.size"
                    placeholder="enter size" required>
            </div>
            <div class="input-feild col-sm-6">
                <label>Original Price:
                    <label class="red-text">*</label>
                </label>
                <input type="number" name="originalprice" #originalprice='ngModel'
                    [(ngModel)]="productservice.selectedProducts.originalprice" placeholder="enter original price"
                    required>
            </div>
        </div>
        <div class="row">
            <div class="input-feild col-sm-6">
                <label>Total Price:
                    <label class="red-text">*</label>
                </label>
                <input type="number" name="totalprice" #totalprice='ngModel'
                    [(ngModel)]="productservice.selectedProducts.totalprice" placeholder="enter total price"
                    required>
            </div>
            <div class="input-feild col-sm-6">
                <label>Dry Clean Price:
                    <label class="red-text">*</label>
                </label>
                <input type="number" name="drycleanprice" #drycleanprice='ngModel'
                    [(ngModel)]="productservice.selectedProducts.drycleanprice" placeholder="enter dry clean price"
                    required>

            </div>
        </div>
        <div class="row">
            <div class="input-feild col-sm-6">
                <label>Lead Price:
                    <label class="red-text">*</label>
                </label>
                <input type="number" name="leadprice" #leadprice='ngModel'
                    [(ngModel)]="productservice.selectedProducts.leadprice" placeholder="enter lead price"
                    required>

            </div>
            <div class="input-feild col-sm-6">
                <label>Owner Price:
                    <label class="red-text">*</label>
                </label>
                <input type="number" name="ownerprice" #ownerprice='ngModel'
                    [(ngModel)]="productservice.selectedProducts.ownerprice" placeholder="enter owner price"
                    required>

            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <button class="btn btn-custom right"> Submit</button>
            </div>
        </div>
    </form>

</div>