<main class="product-list">
    <div class="accordion" id="productlist">
        <div class="card" *ngFor="let item of productList; let i=index">
            <div class="card-header" id="products">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" 
                        aria-expanded="true" aria-controls="productdetails" (click)="open(i)">
                        <h3>{{item.name}}</h3>
                    </button>
                </h2>
                <h4 class="approved-btn" *ngIf="!show">Not approved</h4>
                <h4 class="approved-btn-color" *ngIf="show">approved</h4>
                <label class="switch" >
                    <input type="checkbox" (click)=Toggle(i)>
                    <span class="slider round"></span>
                </label>
                <div class="dropdown">
                    <div class="dropdown-button"></div>
                    <div class="dropdown-content">
                        <a (click)="update()">Update</a>
                        <a (click)=delete()>Delete</a>
                      </div>
                </div>
                
            </div>

            <div  class="collapse show" aria-labelledby="products" data-parent="#productlist" *ngIf="panelExpand">
                <div class="card-body">
                    <div class="price-category">
                        <h4>Original price: {{item.originalPrice}}</h4>
                        <h4>Toatal price: {{item.totalPrice}}</h4>
                        <h4>Dry clean price: {{item.Dryclean}}</h4>
                        <h4>Lead price per week: {{item.leadprice}}</h4>
                        <h4>Owner price per week: {{item.ownerprice}}</h4>
                    </div>
                    <div class="card details">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h3><span>Brand: {{item.brand}}</span></h3>
                                <h3><span>Category: {{item.category}}</span></h3>
                                <h3><span>Material:{{item.material}}</span></h3>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h3><span>Care: {{item.care}}</span></h3>
                                <h3><span>Color:{{item. color}}</span></h3>
                                <h3><span>Size: {{item.size}}</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>